.container {
    width: 100%;
    padding: 1% 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #F2F5F4;
}

.leftMiddlePannel {
    display: flex;
    gap: 20px;
    width: 69.444%;
}

.leftPannel {
    width: 270px;
}

.leftPannelLowerCard {
    display: flex;
}

.middlePannel {
    flex: 1;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    border: 0.5px solid rgba(39, 43, 42, 0.25);
    background: #FCFFFE;
}

.topHead {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

.text1 {
    margin-left: 3%;
    color: #272B2A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text2 {
    margin-left: 3%;
    color: rgba(39, 43, 42, 0.75);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.upper3 {
    margin-left: 3%;
    display: flex;
    margin-top: 5%;
}

.upper4 {
    display: flex;
    justify-content: center;
    margin-left: 4%;
    margin-top: 5%;
    width: 88%;
    border-radius: 4px;
    background: rgba(39, 43, 42, 0.05);
}

.upper4 span {
    color: rgba(39, 43, 42, 0.75);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.horizontalLine {
    background-color: rgba(39, 43, 42, 0.25);
    border: none;
    height: 0.5px;
}

.middleTextConatiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
}

.middleTextConatinerText1 {
    color: #272B2A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.middleTextConatinerText2 {
    color: rgba(39, 43, 42, 0.90);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middleTextConatinerText3 {
    color: rgba(39, 43, 42, 0.54);
    font-family: Poppins;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.founders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftPannelLowerCardMobile {
    display: none;
}

.rightPannel {
    width: 300px;
}

@media screen and (min-width : 1440px) {
    .container{
        padding: 1% 0;
    }
    .leftMiddlePannel{
        max-width: calc(1440px - 300px - 20px - 120px);
    }
}

@media screen and (max-width:1200px) {
    .container {
        flex-direction: column;
    }

    .leftMiddlePannel {
        display: flex;
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }

    .rightPannel {
        margin-top: 2%;
        align-self: self-end;
    }
}

@media screen and (max-width:550px) {
    .container{
        padding: 1% 0;
    }
    .leftMiddlePannel {
        align-self: center;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }

    .leftPannel{
        width: 95%;
        align-self: center;
    }

    .middlePannel{
        margin-top: 2%;
        width: 95%;
        align-self: center;
    }

    /* .topHead{
        display: none;
    } */
    .linkdinPic{
        display: none;
    }
    .middleTextConatinerText2{
        margin-top: 2%;
    }

    .leftPannelLowerCard {
        display: none;
    }

    .leftPannelLowerCardMobile {
        display: flex;
        width: 95%;
        align-self: center;
    }
    .rightPannel{
        width: 95%;
        align-self: center;
        margin-right: 0;
    }
}