.Container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.HeadingContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.HeadingsFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Heading {
  text-align: start;
  justify-self: start;
  display: inline-block;
}

.Heading1 {
  text-align: start;

  color: #898c8c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  line-height: 24px;
  text-align: left;
}
.Heading2 {
  color: #272b2a;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  line-height: 36px;
  text-align: left;
}

.Reattempt {
  display: flex;
  justify-self: end;
  align-items: end;
  color: #272b2a;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Scores {
  padding: 1rem;
  border-radius: 4px;
  background: rgba(16, 142, 102, 0.05);
}

.ScoreHeading {
  display: flex;
  gap: 6px;
  color: #108e66;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.ScoreContent {
  color: #0d7252;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.ContentContainer {
  color: #108e66;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Content {
  color: #272b2a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.BtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: auto;
  width: 100%;
}

.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4px;
  width: 37.75px;
  background-color: #e7eae9;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.ArrowBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #e6ebea;
  border-radius: 50%;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.ActiveBtn {
  background-color: #108e66;
  /* outline: 3px solid rgba(75, 206, 235, 0.639); */
}

.ArrowBtn img {
  height: 60%;
  aspect-ratio: 1;
}

.NextButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prevNextButton {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: white;
  gap: 1rem;
}

.InsightsQuestions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin: 1rem 0;
}

.QuestionContainer,
.ResponseContainer {
  display: flex;
  justify-content: flex-start;
  gap: 0.25rem;
  width: 100%;
}

.Question {
  color: #272b2a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.QuestionText {
  color: #272b2a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Response {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: #686d6c;
}
.ResponseTextContainer {
  color: #272b2a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
